@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model HomeSupplierViewModel
<div class="row">
  <p>Are you sure that you want to delete this supplier?</p>
  <form method="post">
    @Html.AntiForgeryToken()
    <div><input asp-for="Supplier.SupplierId" hidden /></div>
    <div><input asp-for="Supplier.CompanyName" readonly /></div>
    <div><input asp-for="Supplier.Country" readonly /></div>
    <div><input asp-for="Supplier.Phone" readonly /></div>
    <input type="submit" value="Delete" class="btn btn-outline-danger" />
    <a href="/Home/Suppliers" class="btn btn-outline-secondary">Cancel</a>
  </form>
</div>
